:root {
    --chocolate: #4e342e;
    --doce-rosa: #ff80ab;
    --creme: #fff8e1;
    --texto: #2d1a12;
}

body {
    background-color: var(--creme);
    color: var(--texto);
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Um toque mais caseiro */
    margin: 0;
    text-align: center;
}

header {
    background-color: var(--chocolate);
    color: white;
    padding: 40px 20px;
    border-bottom: 5px solid var(--doce-rosa);
}

.logo span {
    color: var(--doce-rosa);
}

.loja {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
}

.card-doce {
    background: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 250px;
    border: 2px solid transparent;
    transition: 0.3s;
}

.card-doce:hover {
    border-color: var(--doce-rosa);
    transform: scale(1.02);
}

button {
    background-color: var(--doce-rosa);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}
